$primary: #ee0092;
$primary-dark: #880053;
$primary-light: #fceaf5;
$secondary: #9cb0bf;
$secondary-dark: #2d4252;
$secondary-light: #f4f6f8;
$error: #ff6565;
$black: #000;
$white: #fff;
$completed: #86d6a6;
$neutral: #ddd;

$colors: (
  "primary": $primary,
  "primary-dark": $primary-dark,
  "primary-light": $primary-light,
  "secondary": $secondary,
  "secondary-dark": $secondary-dark,
  "secondary-light": $secondary-light,
  "error": $error,
  "white": $white,
  "black": $black,
  "completed": $completed,
  "neutral": $neutral,
);
