.o-section {
  padding-top: rem($-o-section-padding);
  padding-bottom: rem($-o-section-padding);
  flex-grow: 1;

  @media (min-width: $md) {
    padding-top: rem($-o-section-padding-lg);
    padding-bottom: rem($-o-section-padding-lg);
  }
}
