.o-section {
  padding-bottom: rem($o-section-gap);
  padding-top: rem($o-section-gap);
  flex-grow: 1;

  @media (min-width: $md) {
    padding-bottom: rem($o-section-gap-lg);
    padding-top: rem($o-section-gap-lg);
  }
}
