//Box model

.u-block {
  display: block !important;
}

.u-inline-block {
  display: inline-block !important;
}

.u-inline {
  display: inline !important;
}

//Position and align

.u-relative {
  position: relative !important;
}

.u-block-center {
  margin-left: auto !important;
  margin-right: auto !important;
}

@include text-aligns();

// Margin and sizes
@include margins();
@include paddings();
@include percent-widths();
